/* Custom variables/mixins imports */
@import 'base/variables.scss';

/* Bulma CSS */
@import '~bulma/bulma';

/* vue-snotify package CSS */
@import '~vue-snotify/styles/material';

/* Local CSS */
@import 'controls/dropdown.scss';
@import 'controls/checkbox.scss';
@import 'components/spinner.scss';
@import 'components/table.scss';
@import 'components/modal.scss';
@import 'components/homeContent.scss';
@import 'components/transitions.scss';
@import 'base/generic.scss';