input[type="checkbox"] {
  vertical-align: baseline;
}

.checkbox-control {
  input {
    opacity: 0;
    width: 1rem;
    height: 1rem;
    position: absolute;

    &:checked ~ .helper {
      &::after,
      &::before {
        opacity: 1;
        transition: height 0.38s ease;
        transition-delay: 0s;
      }

      &::before {
        height: 1.2rem;
        transition-delay: 0.15s;
      }

      &::after {
        height: 0.5rem;
      }
    }
  }

  label {
    cursor: pointer;
    position: relative;
    display: block;

    span {
      padding-left: 2rem;
    }
  }

  .helper {
    color: $color-checkbox-border;
    background-color: white;
    position: absolute;
    top: 0;
    width: 1rem;
    height: 1rem;
    z-index: 0;
    border: 0.125rem solid currentColor;
    border-radius: 0.0625rem;
    transition: border-color 0.38s ease;

    &::before,
    &::after {
      position: absolute;
      height: 0;
      width: 0.2rem;
      background-color: $color-checkbox-mark;
      display: block;
      transform-origin: left top;
      border-radius: 0.25rem;
      content: "";
      transition: opacity 0.38s ease, height 0s linear 0.38s;
      opacity: 0;
    }

    &::before {
      top: 0.65rem;
      left: 0.38rem;
      transform: rotate(-135deg);
    }

    &::after {
      top: 0.3rem;
      left: 0;
      transform: rotate(-45deg);
    }
  }

  &:not(.disabled) label:hover .helper {
    color: $color-checkbox-border-hover;
  }

  &.disabled {
    label {
      cursor: not-allowed;
    }

    .helper {
      opacity: 0.7;
    }
  }

  &.is-medium {
    height: 1.25rem;

    .helper {
      width: 1.25rem;
      height: 1.25rem;
      top: inherit;
      margin-top: 0.3rem;

      &::before,
      &::after {
        width: 0.23rem;
      }

      &::before {
        top: 0.8125rem;
        left: 0.475rem;
      }

      &::after {
        top: 0.375rem;
      }
    }

    input {
      opacity: 0;
      left: 0;
      margin-top: 0.3rem;
      width: 1.25rem;
      height: 1.25rem;
      position: absolute;

      &:checked ~ .helper::before {
        height: 1.5rem;
      }

      &:checked ~ .helper::after {
        height: 0.625rem;
      }
    }
  }

  &.menu-list-control {
    display: block;
    padding: 0.55em 0.75em;
    margin-bottom: inherit;

    .helper {
      top: 0.25rem;
    }
  }
}

.remember-me-control {
  text-align: center;

  .checkbox-control {
    line-height: 1.2;
    font-size: 1em;
    font-weight: 500;
    margin-top: 0.85rem;
    margin-bottom: 0.85rem;

    &.is-medium {
      height: 2.25rem;
      line-height: 2.25;
    }
  }
}
