html,
body {
    background-color: #f8f9fa;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    color: #2c3e50;
}

#app {
    font-size: 17px;
    
    @media (max-width: 769px) {
        font-size: 16px;
    }
}

a,
h3,
.box,
.label,
.title,
.button,
.table thead td,
.table thead th {
    color: #2c3e50;
}

.button {
    font-weight: 600;
}

.home {
    text-align: center;
}

#nav {
    background-color: #fff;
    text-align: center;
    padding: 15px 0 15px 0;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
    margin-bottom: 3rem;

    span {
        font-size: 1.65em;
        margin-left: .85rem;
        margin-right: .85rem;
        font-weight: bold;
        color:rgba(44, 62, 80, .7);
        
        @media (max-width: 769px) {
            font-size: 1.3em;
        }
    }

    a {
        font-size: 1.4em;
        font-weight: bold;

        @media (max-width: 769px) {
            font-size: 1.15em;
        }

        &:hover {
            color:#6C7E90;
        }

        &.router-link-exact-active {
            color: $green !important;
        }
    }
}

.title {
    &.main-title {
        font-size: 3em;
        margin-top: 1.5rem !important;
        margin: auto;

        @media (max-width: 769px) {
            font-size: 2em;
        }
    }
}

hr {
    background: #ddd;
    height: 1px;
    width: 60%;
    margin: 1.75rem auto 1.75rem auto;

    @media (max-width: 769px) {
        width: 90%;
    }
}

.is-200x200 {
    height: 200px;
    width: 200px;
}

.box {
    border-radius: 0px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
    box-shadow: 0 2px 4px 0 rgba(21, 23, 24, 0.12);
    padding: 4rem;

    @media (max-width: 1472px) {
        padding: 1.75rem;
    }

    @media (max-width: 600px) {
        padding: .75rem;
    }
}

.columns.is-centered {
    margin-left: 0rem;
    margin-right: 0rem;

    &.modal-columns {
        margin-top: 0rem;
        height: 450px;

        .column {
            height: 100%;
            padding:.75rem 0rem .75rem 0rem;

            .modal-body {
                padding: 0rem 3.5rem;
            }
        }
    }

    .title {
        text-align: center;
    }
}

.employee-box {
    min-height: 500px;
}

.is-horizontal-center {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
}