/* BULMA COLOR OVERRIDES */
$red: #e74c3c;
$green: #42b983;
$blue: #1c90f3;
$cyan: #669EF1;
$color-bg-box: #f8f9fa;

/* CHECKBOX CONTROL */
$color-checkbox-mark: $green;
$color-checkbox-border: #dbdbdb;
$color-checkbox-border-hover: #b5b5b5;