.home-content {
    > h3 {
        font-size: 1.4rem;
        font-weight: 600;
        padding-bottom: 0.5rem;
      
        @media (max-width: 769px) {
          font-size: 1.15rem;
        }

        &:not(:first-child) {
            margin: 35px 0 0;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;

        > li {
            display: inline-block;
            margin: 0 10px;
        }
    }

    a {
        color: $green;
        font-weight: 600;
        text-decoration: underline;
    }
}