.fade-enter,
.pop-out-enter,
.fade-leave-to,
.pageSlideUp-enter,
.pageSlideUp-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease;
}

.pop-out-enter-active,
.pageSlideUp-enter-active {
  animation: page-enter-slideUp both cubic-bezier(0.4, 0, 0, 1.5);
  animation-duration: 0.35s;
}

.pop-out-leave-active,
.pageSlideUp-leave-active {
  animation: page-leave-fadeOut ease;
  animation-duration: 0.25s;
}

@keyframes page-leave-fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes page-enter-slideUp {
  from {
    opacity: 0;
    transform: translate3d(0, 150px, 0);
  }
  to {
    opacity: 1;
  }
}
